.ico-noauth {
  background-color: darken($bcgrd_color, 10%);

  & svg {
    color: darken(#fff, 10%);
  }
}

.noauth-wrap {
  &:hover {
    & > p,
    & svg {
      color: #fff;
    }
    & .ico-noauth {
      background-color: $menu_link_active;
    }
    background-color: $menu_link_active;
  }

  & > p {
    color: darken(#fff, 10%);
  }

  &:hover .ico-noauth {
    transition: all 0.6s ease;
  }
}

.auth {
  padding: 10px;
  border-radius: 30px;
  background-color: $menu_link_active;
  & svg {
    width: 25px;
    height: 25px;
    color: #fff;
  }
  &-overlay {
    & ul {
      // background-color: $bcgrd_color !important;
    }
  }
}
