.link {
  display: flex;
  max-width: max-content;
  @include fonts-main($fw: 500, $clr: $link_color, $lnh: 19px);
  position: relative;
  transition: all 280ms ease-in-out;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: $link_color;
    transition: all 0.3s;
  }

  &:hover {
    color: #fff;
    font-size: 17px;
    transition: all 280ms ease-in-out;

    &::after {
      background-color: #fff;
      width: 0;
      transition: all 0.3s;
    }
  }
}

.link-center {
  &:hover {
    &::after {
      left: 45%;
    }
  }
}

.link-right {
  &:hover {
    &::after {
      left: 100%;
    }
  }
}
