.wrap {
  display: flex;
  align-items: center;
  position: fixed;
  padding: 0 5%;
  height: 86px;
  width: 100%;
  background-color: $bcgrd_color;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.logo {
  margin-right: 8%;
}

.menu {
  margin-right: auto;
}

.user {
  margin-left: 5%;
}