@mixin font-face($name, $path, $fw) {
  $format: "woff", "woff2";
  $qq: "1" + 2;

  @for $var from 1 to 3 {
    @font-face {
      font-family: $name;
      font-weight: $fw;
      src: url($path + "." + nth($format, $var)) format(nth($format, $var));
    }
  }
}

@mixin import-tarif-mixin {
  .basic {
    background-color: $bcgrd_tariff_basic;
  }
  .standart {
    background-color: $bcgrd_tariff_standart;
  }
  .premium {
    background-color: $bcgrd_tariff_premium;
  }
}

@mixin fonts-headings($fz: 39, $clr: #fff, $lnh: $fz) {
  font-family: var(--aireExterior-font);
  font-weight: 400;
  font-size: $fz;
  line-height: $lnh;
  color: $clr;
}

@mixin fonts-main($fz: 16, $clr: #fff, $fw: 300, $lnh: $fz) {
  font-family: "Roboto";
  font-weight: $fw;
  font-size: $fz;
  line-height: $fz;
  color: $clr;
}

@mixin ani-smooth-mixin($delay: 2s) {
  animation: ani-smooth $delay forwards;
}

@keyframes ani-smooth {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
