@mixin font-face($name, $path, $fw) {
  $format: "woff", "woff2";
  $qq: "1" + 2;

  @for $var from 1 to 3 {
    @font-face {
      font-family: $name;
      font-weight: $fw;
      src: url($path + "." + nth($format, $var)) format(nth($format, $var));
    }
  }
}

@mixin animation-mixin($name, $color1, $color2) {
  @keyframes #{$name} {
    0% {
      background-color: $color1;
    }
    100% {
      background-color: $color2;
    }
  }
}

@mixin smooth-appearance-color($name1, $name2, $color1, $color2) {
  @include animation-mixin($name1, $color1, $color2);
  @include animation-mixin($name2, $color2, $color1);
}
