$bcgrd_color: #141c24;
$menu_link_active: #222c35;
$mini_title_color: #57d6ff;
$no-active_color: rgba(255, 255, 255, 0.5);
$gray_text_color: #ababab;
$no-active_tarif_color: #1f2631;
$link_color: #00c5ff;
$header_color: #141c24;
$footer_color: #171717;
$footer_text_color: #ececec;
$footer_text_gray: #838383;
$size_h1: "48px";
$size_h2: "39px";
$size_p: "21px";
$bcgrd_tariff_basic: blue;
$bcgrd_tariff_standart: rgb(255, 56, 56);
$bcgrd_tariff_premium: black;

$header_height: 86px;
