.logo {
  display: flex;
  height: max-content;
  gap: 17px;
  align-items: center;
  vertical-align: middle;
}
.text {
  margin-top: 4px;
  font-family: var(--pulsar-font), Times, serif;
  font-size: 24px;
  color: $mini_title_color;
}
